{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique brotonne{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>
<hr />
{% if notification %}
<div class="alert alert-info">{{ notification }}</div>
{% endif %}
    
      <a href="{{path('app_account')}}">Retourner sur mon compte</a><br/>
      <h1>{{form(form)}}</h1>
            
     - Ajouter mes adresses<br/>
     - Mes Commandes<br/>
     
{% endblock %}
