{% extends 'base.html.twig' %}

{% block title %}Page introuvable - LA Boutique Brotonne{% endblock %}

{% block content %}
    <div class="block-small" >
    <h2>Page introuvable</h2>
    <p>Désolé cette page ne semble pas être accessible maintenant</p>
    <a href="{{path('app_home')}}" class="btn btn-info">Revenir à la page accueil</a>
    </div>
{% endblock %}
